<h2>Recently updated posts</h2>

<table>
  <thead>
  <tr>
    <th>Title</th>
  </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= post[:title] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
